.card {
    border-radius: 8px;
    padding: 126px;
    cursor: pointer;
    margin: 30px;
    align-items: center;
    width: 1100;
    height: 600;
    box-shadow: 0 4px 12px rgb(159, 49, 49);

}

.info{
    color: black;
    font-size: 50px;

}

/* .card-green{
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: rgb(176, 240, 176);
}

.card-yellow{

}

.card-red{
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: rgb(244, 186, 186);
} */