#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
}

body {
  background-color: rgb(223, 237, 240);
}

.App {
  width: 1200px;
  padding: 32px;
  align-items: center;
  background-color: rgb(246, 96, 96);
  border-radius: 10px;
}

.header {
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 32px;
  border-radius: 10px;
  margin: 0 auto;
  width: 1100px;
}

.header2 {
  align-items: center;
  background-color: rgb(244, 238, 238);
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  width: 1000px;
}